img{
    width:450px;
    height:300px;
  }
  
  ul{
    list-style:none;
    position:relative;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
  }
  
  .slider-list_item,.slider-list_item--selected{
    position:absolute;
    transition:opacity 1s;
    opacity:0;
  }
  
  .slider-list_item--selected{
    transition:opacity 1s;
    opacity:1;
  }
  img{
    width:450px;
    height:300px;
  }
  
  ul{
    list-style:none;
    position:relative;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
  }
  
  .slider-list_item,.slider-list_item--selected{
    position:absolute;
    transition:opacity 1s;
    opacity:0;
  }
  
  .slider-list_item--selected{
    transition:opacity 1s;
    opacity:1;
  }
  
  img{
    width:450px;
    height:300px;
  }
  
  ul{
    list-style:none;
    position:relative;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
  }
  
  .slider-list_item,.slider-list_item--selected{
    position:absolute;
    transition:opacity 1s;
    opacity:0;
  }
  
  .slider-list_item--selected{
    transition:opacity 1s;
    opacity:1;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  