<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="YY-MO">
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		
		<title>小学生成语学习系统</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/main.css"/>
	</head>
	<body style="background: #3f51b5;">
		<div class="_content">
			
			<div class="main_title">
				<h3>欢迎来到小学生成语学习系统</h3>
			</div>
			
			
			<div class="l_aside">
				<div class="left_img">
					<img src="__IMG__/kongfuzi.png"/>
				</div>
			</div>
			
			<div class="l_main">
				<div class="l_main_content">
					<a href="__URL__/startlearning">
						<div class="l_startLearning main_det">
							<p>开始学习</p>
							<div class="sl_icon">
								<img src="__IMG__/sl.png"/>
							</div>
						</div>
					</a>
					<a href="__URL__/cidian">
						<div class="l_cidian main_det">
							<p>成语词典</p>
							<div class="sl_icon2">
								<img src="__IMG__/cidian.png"/>
							</div>
						</div>
					</a>
					<a href="__URL__/game">
						<div class="l_game main_det">
							<p>趣味游戏</p>
							<div class="sl_icon">
								<img src="__IMG__/game.png"/>
							</div>
						</div>
					</a>
					<a href="__URL__/shoucang">
						<div class="l_shoucang main_det">
							<p>我的收藏</p>
							<div class="sl_icon2">
								<img src="__IMG__/shoucang.png"/>
							</div>
						</div>
					</a>
					
				</div>
				
			</div>
		</div>
	</body>
</html>
