<!DOCTYPE html">
<html>
<head>
<meta charset="utf-8" />
<title>成语管理信息后台</title>
<link rel="stylesheet" type="text/css" href="__CSS__/main.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css"/>
</head>
	<frameset rows="85px,*" cols="*" frameborder="0" border="0" framespacing="1">
		<frame src="top.html" name="top" scrolling="No" noresize="noresize" id="topFrame" />
		<frameset rows="*" cols="20%,*" framespacing="0" frameborder="0" border="0">
			<frame src="__URL__/left" name="left" scrolling="No" noresize="noresize" id="leftFrame" />
			<frame src="right.html" name="right" />
		</frameset>
	</frameset>
<body>
</body>

</html>