<!--<form action="__URL__/tmadd" method="post">
	题目：<input type="text" name="question"/>
	答案：<input type="text" name="answer"/>
	<input type="submit" value="添加" />
	<input type="reset" value="重置" />
</form>-->
	
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css"/>
<div class="cyupdate">
	<form action="__URL__/tmadd" method="post">
		<p>题目：<input type="text" name="question"/></p>
		<p>答案：<input type="text" name="answer"/></p>
		<div class="tmadd">
			<input type="submit" value="添加" />
			<input type="reset" value="重置" />
		</div>
	</form>
</div>

